@font-face {
    font-family: ModeSeven;
    src: url("font/Modeseven-L3n5.ttf");
}

body {
    background-color: black;
    font-family: ModeSeven;
    font-size: 20px;
    margin-left: 30px;
    color: rgb(0, 218, 0);
    white-space: pre-line;
    line-height: 25px;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    overflow: hidden;
  }
