.MyIcon {
    color: white;
    font-size: 300%;
    margin: 0 40px;
    text-shadow: 5px 3px 10px rgb(54, 54, 54);

    transition: .3s;
}

.MyIcon:hover {
    font-size: 600%;
    color: rgb(31, 177, 97);
    cursor: pointer;
}

.MyIcon:active {
    color: rgb(82, 255, 93);
}
/* 
.MyIcon:last-child:hover {
    color: blueviolet;
}

.MyIcon:last-child:active {
    color: rgb(173, 85, 255);
} */